.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #1D2026;
    padding: 1rem 0;
    border-radius: 10px;
}

.image {
    border-radius: 10px;
}

.labels {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.jerseyNumber {
    background-color: #FF5A00;
    border-radius: 10px;
    padding: 0 0.5rem;
    color: #000000;
}

.team {
    color: #00D2FF;
    background-color: #102A38;
    padding: 0 0.5rem;
    border-radius: 10px;
}

.nameAndCountry{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
}


.country {
    color: #F2B4A5;
}

.dataContainer {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.data {
    background-color:  #252A33;
    padding: 0 0.5rem;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

.dataName {
    color: #F2B4A5;
}