.inputContainer  {
    position: relative;
    color: var(--color-text-primary);
    display: flex;
    margin-inline: auto;
    width: 60%;
}

.input {
    background-color: var(--color-border);
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 6rem;
    text-align: left;
}

.input:focus {
    outline: none;
}

.inputIcon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.inputCross {
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.filters {
    display: grid;
    grid-template-columns: minmax(0,50%) minmax(0,50%);
}

.confFilters,
.posFilters {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.button {
    color: var(--color-text-primary);
    border-radius: 10px;
    background-color: var(--color-components);
    padding: 0.5rem;
    cursor: pointer;
}

.confLabel {
    color: var(--color-text-primary);
}
.button:not(.active):hover {
  background-color: var(--color-background-lighter);
}

.active {
    background-color: var(--color-orange);
    color: white;
}
